{% extends 'base.html.twig' %}

{% block title %}All Products{% endblock %}

{% block body %}
    {% if products %}
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="/product/{{ product.id }}">{{ product.name }}</a></td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.description }}</td>
                    <td>
                        <a href="/product/edit/{{ product.id }}" class="btn btn-primary" data-id="{{ product.id }}">Edit</a>
                        <a href="#" class="btn btn-danger delete-product" data-id="{{ product.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>We don't have any products</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
